.catagories img{
    width:100px;
}
.h-80{
    height:650px;
}
.casual-shirt img{
    width:250px;
    height:250px;
}
.shirt-name{
    color:#3c40c6;
}
.price-tag{
    color:#0fbcf9;
}
.btn-buy-now{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
}
.social-media{
    font-size:25px;
    
    color:white;
    padding:5px 15px;
  
}
